/* ------------- Header -------------*/
.header {
	height: 60px;
	background-image: url(../images/CookChook_logo.png);
	background-repeat: no-repeat;
	background-size: 230px;
	background-position: center center;
	
	
	h1 {
		text-indent: -9999px;	
	}
	
}